@model IEnumerable<StudentApp.Models.BgEducationRecords>


<link href="~/Content/bootstrap.min.css" rel="stylesheet" />


<table class="table" id="tbl_BgEducations" style=" margin-top:10px;">
    <tr>
        <th>
            @Html.Label("InstitutionName", new { @class = "font-weight-bold" })
        </th>
        <th>
            @Html.Label("InsCountry", new { @class = "font-weight-bold" })
        </th>
        <th>
            @Html.Label("Faculty", new { @class = "font-weight-bold" })
        </th>
        <th>
            @Html.Label("AvarageGrade", new { @class = "font-weight-bold" })
        </th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    <span style="font-weight:bold; color:tomato; "> @Html.DisplayFor(modelItem => item.InstitutionName)</span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InsCountry)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Faculty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvarageGrade)
                </td>
                <td>
                    <button id="BgDelete" class="btn btn-danger" name="@item.ID" title="@item.InstitutionName">Delete</button>
                    @*<a href="@Url.Action("FullScreen", "Application", new { Id = item.ID })" id="ViewScreen" class="btn btn-warning"><span class="fa fullscreen"></span>View</a>
                    <a href="@Url.Action("Download", "Application", new { Id = item.ID })" class="btn btn-success"><span class="fa fa-download"></span> Download</a>*@
                    <a href="#" id="ViewScreen" class="btn btn-warning"><span class="fa fullscreen"></span>View</a>
                    <a href="#" class="btn btn-success"><span class="fa fa-edit"></span> Edit</a>
                </td>

            </tr>
        }
    }

    @if (Model.ToList().Count < 1)
    {
        <tr>
            <td>
                <span style="font-weight:bold; color:tomato; "> There is No Background education</span>
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>

        </tr>
    }
</table>



@*test test test test test*@


<script type="text/javascript">



    $('#BgDelete').on('click', function () {
        var EducationID = parseInt(this.name);
        var title = this.title;
        $.ajax({
            type: 'GET',
            url: '/Application/BgDelete',
            data: { ID: EducationID },
            success: function (result) {
                ResetTexts();
            }
        });
    });


    function ResetTexts() {
        document.getElementById('InstitutionName').value = null;
        document.getElementById('Faculty').value = null;
        document.getElementById('InsCountry').value = null;
        document.getElementById('StudyMode').value = null;
        document.getElementById('EducationLevel').value = null;
        document.getElementById('EducationStDate').value = null;
        document.getElementById('EducationCompDate').value = null;
        document.getElementById('AvarageGrade').value = null;

    }





</script>

<script src="~/Content/Scripts/bootstrap.min.js"></script>
