@*@model StudentApp.ObjectModels.Application*@
@model IEnumerable<StudentApp.Models.UploadedFiles>

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<style>
    td a:hover {
        background-color: #e5e5e5 !important;
    }
    td button:hover {
        background-color: #e5e5e5 !important;
    }

</style>
<table class="table" id="UploadTable2">
    <tr>
        <th>
            @Html.DisplayNameFor(m => m.FileType)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.FileName)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.FileNote)
        </th>

        <th></th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    <span style="font-weight:bold; color:tomato; "> @Html.DisplayFor(modelItem => item.FileType)</span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FileName)
                </td>
                <td><input type="text" contenteditable id="FileNote_@item.Id" class="form-control" placeholder="insert @item.FileType Comment" name="@item.Id" onchange="Labelchanged(@item.Id)" value="@Html.DisplayFor(modelItem => item.FileNote)"></td>
                <td>
                    <button id="filedelete" style="border:1px solid !important;"class="btn btn-light"  name="@item.Id" title="@item.FileName">Delete</button>
                    @*<button id="filedelete" title="@item.FileName" class="btn btn-danger" name="@item.Id">Delete</button>*@
                    <a href="@Url.Action("FullScreen", "Application", new { Id = item.Id })" style="border:1px solid !important;" class="btn btn-light" ><span class="fa fullscreen"></span>View</a>
                    <a href="@Url.Action("Download", "Application", new { Id = item.Id })"style="border:1px solid !important;" class="btn btn-light"><span class="fa fa-download"></span> Download</a>
                </td>

            </tr>
        }
    }
    @if (Model.ToList().Count == 0)
    {
        <tr>
            <td>
                <span style="font-weight:bold; color:tomato; "> There is no file</span>
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>

        </tr>
    }

</table>
<script>

        $('Button').on('click', function () {
            var filename = this.title;
            if (this.id == 'filedelete') {
                $.ajax({
                    type: 'GET',
                    url: '/Application/UploadFileDelete',
                    data: { id: parseInt(this.name) },
                    success: function (result) {
                        event.preventDefault();
                        ReviewFiles();
                        swal(
                            'Done !',
                            title + ' Deleted!',
                            'success'
                        );
                    }
                });
            }
           
        });

    function Labelchanged(id) {
        var ElementID = 'FileNote_' + id;
        var innertxt = document.getElementById(ElementID).value;
        console.log(innertxt);
        $.ajax({
            type: 'GET',
            url: '/Application/UploadFileNote',
            data: {
                Id: parseInt(id),
                text: innertxt
            },
            success: function (result) {
                event.preventDefault();
                ReviewFiles();
                swal(
                    'Comment Attached !',
                    'Your file note' + ' added!',
                    'success'
                );
            }
        });
    }


    function ReviewFiles() {
      var url = '@Url.Action("UploadFileReturn","Application")';
        var notifications = $("#UploadTable");
        setInterval(function () {
            notifications.load(url);
        }, 300);
    }



                    /**  FİLE PROCESS **/
    function fileform(e) {
        var file = document.getElementById(e.target.id).files[0];
        var ext = file.name.split(".");
        ext = ext[ext.length - 1].toLowerCase();
        var fileExtension = ['jpg', 'gif', 'pdf', 'png', 'jpeg', 'bmp', 'doc', 'docx'];
        if (fileExtension.lastIndexOf(ext) == -1) {
            alert("Wrong extension type. for " + e.target.id + " File extension must be " + fileExtension);
            document.getElementById(e.target.id).value = null;
            ReviewFiles();
        }
        else {
            var fd = new FormData();
            fd.append("files", file);
            fd.append("id", e.target.id);
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/Application/FileUpload", false,);
            xhr.send(fd);
            console.log(document.getElementById(e.target.id).value);
            xhr.addEventListener("load", transferComplete(xhr.responseText));
            ReviewFiles();
        }

    };

    function transferComplete(evt) {
        if (evt) {  // File Check Function   -- Size and Type control
            var obj = $.parseJSON(evt);
            if (obj["Message"]!= null) {
                alert(obj["id"] + " " + obj["Message"]);
                document.getElementById(obj["id"]).value = null;
            }

        }
    }



</script>
<script>
    const elem = document.querySelector(`span`)
    let oldValue = elem.innerText
    elem.onkeydown = (keyboardEvent) => {
        if (keyboardEvent.key === "Enter") {
            elem.blur() // set focusout
        }
    }
    elem.onblur = (e) => {
        const curValue = elem.innerText
        if (curValue === oldValue) {
            return
        }
        if (curValue.length <= 50) {
            elem.innerText = oldValue

            // (Optional) Add error message
            elem.insertAdjacentHTML("beforeend", `<span style="margin-left:5px;color:red">error length=${curValue.length}. Must greater than 50. undo to the previous value.</span>`)
            const errMsg = elem.querySelector(`span`)
            setTimeout(() => errMsg.remove(), 3500) // wait 3.5 second, and then remove it.
            return
        }
        oldValue = curValue
    }
</script>
<script src="~/Content/Scripts/bootstrap.min.js"></script>
