@model IEnumerable<StudentApp.Models.UploadedFiles>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/Content/carousel-18/js/jquery-3.3.1.min.js"></script>
<style>
    .modelContainer {
        opacity: 0;
        pointer-events: none;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease;
    }

    .modelContainer, .clickableArea {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
    }

        .modelContainer.active {
            opacity: 1;
            pointer-events: all;
        }

    .model {
        position: relative;
        border-radius: 15px;
        background-color: white;
        padding: 25px;
        min-width: 400px;
    }

    .buttonBox {
        display: flex;
        justify-content: flex-end;
    }

    .model .row {
        margin-bottom: 50px !important;
    }
</style>

<div class="modelContainer">
    <div class="clickableArea" onclick="toggleModel()"></div>
    <form id="UploadFiles">
        <div class="model" id="Submitform">
            <h2>Submit Documents</h2>
            <p class="subtitle">
                Please upload any other documents that are required
                for the application.
                * File size must be less than 2 MB
            </p>

            <div class="row">
                <div class="col-lg-6">
                    <input type="file" id="passport" onchange="fileform(event)" class="custom-file-input" style="display:none">
                    <label for="passport" class="custom-file-label text-truncate form-control">Choose Passport File...</label>
                </div>
                <div class="col-lg-6">
                    <input type="file" onchange="fileform(event)" class="custom-file-input form-control" id="NationalID" style="display:none">
                    <label for="NationalID" class="custom-file-label text-truncate form-control">Choose NationalID File...</label>

                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <input type="file" onchange="fileform(event)" class="custom-file-input form-control" id="Diploma" style="display:none">
                    <label for="Diploma" class="custom-file-label text-truncate form-control">Choose Diploma File...</label>

                </div>
                <div class="col-lg-6">
                    <input type="file" onchange="fileform(event)" class="custom-file-input form-control" id="Transcript" style="display:none">
                    <label for="Transcript" class="custom-file-label text-truncate form-control">Choose Transcript File...</label>

                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <input type="file" onchange="fileform(event)" class="custom-file-input form-control" id="CV" style="display:none">
                    <label for="CV" class="custom-file-label text-truncate form-control">Choose CV File...</label>

                </div>
                <div class="col-lg-6">
                    <input type="file" onchange="fileform(event)" class="custom-file-input form-control" id="IELTSorToeflCertificate" style="display:none">
                    <label for="IELTSorToeflCertificate" class="custom-file-label text-truncate form-control">Choose Certificate File...</label>

                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-lg-6">
                    <input type="file" onchange="fileform(event)" class="custom-file-input form-control" id="Extradocument1" style="display:none">
                    <label for="Extradocument1" class="custom-file-label text-truncate form-control">Choose Extra Document...</label>
                </div>
                <div class="col-lg-6">
                    <input type="file" onchange="fileform(event)" class="custom-file-input form-control" id="Extradocument2" style="display:none">
                    <label for="Extradocument2" class="custom-file-label text-truncate form-control">Choose Extra Document...</label>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <input type="file" onchange="fileform(event)" class="custom-file-input form-control" id="Extradocument3" style="display:none">
                    <label class="custom-file-label text-truncate form-control">Choose Extra Document...</label>

                </div>
                <div class="col-lg-6">
                    <input type="file" onchange="fileform(event)" class="custom-file-input form-control" id="Extradocument4" style="display:none">
                    <label for="Extradocument4" class="custom-file-label text-truncate form-control">Choose Extra Document...</label>

                </div>
            </div>
        </div>


    </form>


</div>






<table class="table" id="UploadTableAdmin">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FileType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FileType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td>
                <a href="@Url.Action("FullScreen", "Application", new { Id = item.Id })" class="btn btn-warning"><span class="fa fullscreen"></span>View</a>
                <button id="FileAdd" class="btn btn-primary" name="@item.Id" title="@item.FileName" onclick="toggleModel()">Add new File</button>
                <a href="@Url.Action("Download", "Application", new { Id = item.Id })" class="btn btn-success"><span class="fa fa-download"></span> Download</a>
                <button id="FileDelete" class="btn btn-danger" name="@item.Id" title="@item.FileName">Delete</button>

            </td>
        </tr>
    }

</table>

<script>

    $('Button').on('click', function () {
        var filename = this.title;
        if (this.id == 'FileDelete') { // if clicked button is Delete button... Do some shit
            $.ajax({
                type: 'GET',
                url: '/Application/UploadFileDelete',
                data: { id: parseInt(this.name) },
                success: function (result) {
                    event.preventDefault();
                    RefreshFilesTBL();
                    swal(
                        'Done !',
                        title + ' Deleted!',
                        'success'
                    );

                }
            });
        }   // end of Delete





    });

    function RefreshFilesTBL() {
        var url = '@Url.Action("UploadFileReturnAdmin", "Students")';
        var notifications = $("#UploadTableAdmin");
                setInterval(function () {
                    notifications.load(url);
                }, 3000);
    }


    function fileform(e) {
        var file = document.getElementById(e.target.id).files[0];
        var ext = file.name.split(".");
        ext = ext[ext.length - 1].toLowerCase();
        var fileExtension = ['jpg', 'gif', 'pdf', 'png', 'jpeg', 'bmp', 'doc', 'docx'];
        if (fileExtension.lastIndexOf(ext) == -1) {
            event.preventDefault();
            swal(
                'Hey ! Be carefull it can be dangerous :)',
                'Wrong extension type. for ' + e.target.id + ' File extension must be ' + fileExtension,
                'error'
            );
            document.getElementById(e.target.id).value = null;
            RefreshFilesTBL();
        }
        else {
            var fd = new FormData();
            fd.append("files", file);
            fd.append("id", e.target.id);
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/Application/FileUpload", false,);
            xhr.send(fd);
            console.log(document.getElementById(e.target.id).value);
            xhr.addEventListener("load", transferComplete(xhr.responseText));
            RefreshFilesTBL();
        }

    };

    function transferComplete(evt) {
        if (evt) {  // File Check Function   -- Size and Type control
            var obj = $.parseJSON(evt);
            if (obj["Message"] != null) {
                document.getElementById(obj["id"]).value = null;
            }

        }
    }


      function toggleModel(id = false) {
        const modelContainer = document.querySelector(".modelContainer");
        modelContainer.classList.toggle("active");

      }


</script>